<p id="notice"><%= notice %></p>

<h1>Speaks</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speaks.each do |speak| %>
      <tr>
        <td><%= speak.content %></td>
        <td><%= link_to 'Show', speak %></td>
        <td><%= link_to 'Edit', edit_speak_path(speak) %></td>
        <td><%= link_to 'Destroy', speak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speak', new_speak_path %>
